http 请求头记录

相关
- HTTP 状态码 #11 
- 缓存 #8 

## Accept-Encoding

[MDN Accept-Encoding](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Headers/Accept-Encoding)

Accept-Encoding 首部字段用来告知服务器用户代理支持的内容编码及内容编码的优先级顺序。可一次性指定多种内容编码。

类型
- **gzip** 由文件压缩程序 gzip（**GNU zip**）生成的编码格式 （RFC1952），采用 Lempel-Ziv 算法（LZ77）及 32 位循环冗余 校验（Cyclic Redundancy Check，通称 CRC）。
- **compress** 由 UNIX 文件压缩程序 **compress** 生成的编码格式，采用 Lempel- Ziv-Welch 算法（LZW）。
- **deflate** 组合使用 **zlib **格式（RFC1950）及由 **deflate** 压缩算法 （RFC1951）生成的编码格式。
- **identity** 不执行压缩或不会变化的默认编码格式

采用权重 q 值来表示相对优先级，这点与首部字段 Accept 相同。另 外，也可使用星号（*）作为通配符，指定任意的编码格式。


## Connection

Connection 首部字段具备如下两个作用。
- 控制不再转发给代理的首部字段
- 管理持久连接 keep-alive

**控制不再转发给代理的首部字段**
![image](https://user-images.githubusercontent.com/20264467/66896592-b2765100-f027-11e9-8342-ea3a3428a3c4.png)

```
Connection: 不再转发的首部字段名
```

在客户端发送请求和服务器返回响应内，使用 Connection 首部字段，可控制不再转发给代理的首部字段（即 Hop-by-hop 首 部）。

**管理持久连接**
![image](https://user-images.githubusercontent.com/20264467/66896712-fa957380-f027-11e9-9f4e-e4d99fa05097.png)
![image](https://user-images.githubusercontent.com/20264467/66896820-3f210f00-f028-11e9-865b-f0d73895eb9d.png)

```
Connection: Keep-Alive
or
Connection: close
```
HTTP/1.1 版本的默认连接都是持久连接。为此，客户端会在持久连接上连续发送请求。当服务器端想明确断开连接时，则指定 Connection 首部字段的值为 Close。

HTTP/1.1 之前的 HTTP 版本的默认连接都是非持久连接。为此，如果想在旧版本的 HTTP 协议上维持持续连接，则需要指定 Connection 首部字段的值为 Keep-Alive。














## X-Frame-Options

- [MDN IFrame](https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element/iframe)
- [MDN X-Frame-Options](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/X-Frame-Options)

给浏览器 指示允许一个页面 可否在 `<frame>` `<embed>` 或者 `<object>` 中展现的标记。站点可以通过确保网站没有被嵌入到别人的站点里面，从而避免 clickjacking 攻击。

可以有三个值 

- `deny` 拒绝，相同域名也不行；
- `sameorigin` 表示该页面可以在相同域名页面的 frame 中展示；
- `allow-from uri` 表示该页面可以在指定来源的 frame 中展示；

```
X-Frame-Options: deny
X-Frame-Options: sameorigin
X-Frame-Options: allow-from https://example.com/
```


## dns-prefetch

小米官网

![image](https://user-images.githubusercontent.com/20264467/69293666-924c3a00-0c44-11ea-81ef-5de2a19758cf.png)
